@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

html {
    font-family: 'Roboto', sans-serif;
    color: #212121;
}

body {
    background-color: #FAFAFA;
}

.container {
  max-width: 75vw;
  width: 100%;
  margin: 0 auto;
}

#form-overlay {
    display: none;
}

.overlay{
    position:fixed;
    top: 0;
    left: 0;
    z-index:999;
    width:100vw;
    height:100vh;
    background-color: black;
    background-color:rgba(0,0,0,.75)
}

header {
    margin-top: 100px;
    margin-bottom: 30px;
    font-size: 1.5em;
}

#form-popup {
    position: absolute;
    max-width: 800px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#form-showbutton {
    display: block;
    width: 3em;
    height: 3em;
    padding: 0;
    font-size: 18px;
    position: fixed;
    bottom: 2em;
    right: 2em;
    border-radius: 50%;
    border: none;
    background-color: #1E88E5;
    color: white;
    transition: background-color 100ms;
}

#form-showbutton:hover {
    background-color: #1976D2;
    transition: background-color 100ms;
}

#form-newbook {
    display: none;
    background-color: white;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
}

.form-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.input-checkbox {
    flex-direction: row;
}

.form-input > label {
    font-size: 18px;
    margin-bottom: 5px;
}

.form-input > input[type=checkbox] {
    margin-left: 10px;
}

.input-text {
    transition: .25s border ease-in-out;
    outline: none !important;
    box-shadow: none !important;
    border: 0;
    border-bottom: 2px solid #999;
    font-size: 20px;
}

.input-text:focus{
  border-color: #CC2C21;
}

#library-list {
    margin-bottom: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 25px;
}
.card {
    color: white;
    padding: 25px;
}

.card-title {
    font-size: 2em;
    margin: 0 0 10px 0;
    font-weight: 500;
}

.card-title p {
    margin: 0;
}

.shadow {
    -webkit-box-shadow: 5px 5px 18px -1px rgba(0,0,0,0.34); 
    box-shadow: 5px 5px 18px -1px rgba(0,0,0,0.34);
}

.card-notcompleted {
    background: rgb(25,118,210);
    background: linear-gradient(130deg, hsl(18, 79%, 46%) 0%, hsl(0, 48%, 48%) 100%);
}

.card-completed {
    background: rgb(25,118,210);
    background: linear-gradient(130deg, rgba(25,118,210,1) 0%, rgba(63,81,181,1) 100%);
}