@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

html {
    font-family: 'Roboto', sans-serif;
    color: #212121;
}

body {
    background-color: #FAFAFA;
    margin: 0;
}

:root {
    --gray: #313131;
}

.container {
  max-width: 75vw;
  width: 100%;
  margin: 0 auto;
}

.overlay{
    position:fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width:100vw;
    height:100vh;
    background-color: black;
    background-color:rgba(0,0,0,.50)
}

header {
    margin-top: 100px;
    margin-bottom: 30px;
    font-size: 1.5em;
}

#form-popup {
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;

    visibility: hidden;
    opacity: 0;
    display:flex;
}

#form-popup.shown {
    opacity: 1;
    visibility: visible;
}

#addButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(0, 0%, 40%);
    padding: 25px;
    transition: background-color 100ms;
    color: white;
}

#add-icon {
    font-size: 7em;
}

#addButton:hover {
    background-color: hsl(0, 0%, 50%);
}

#addButton:active {
    background-color: hsl(0, 0%, 60%);
}

#addButton img {
    width: 96px;
    height: 96px;
}
#form-newbook {
    background-color: white;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    position: fixed;
    max-width: 800px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.form-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    padding: 10px;
    border-width: 1px;
    border-color: #CCCCCC;
    border-style: solid;
    border-radius: 0px;
}

.form-input.checkbox {
    flex-direction: row;
}

.form-input > label {
    color: var(--gray);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
}

.input-text {
    font-size: 22px;
    margin-top: 10px;
    border: 0;
    background-color: #FFFFFF;
    color: #000000;
}

.input-text:focus{
    outline: none;
}

.input-checkbox {
    margin-left: 10px;
    font-size: 1.5em;
}

#library-list {
    margin-bottom: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: minmax(250px, 1fr);
    grid-gap: 25px;
}


.card {
    color: white;
    display:flex;
    flex-direction: column;
    padding: 25px;
    position: relative;
    white-space: normal;
    word-wrap: break-word;
    transition: background-color 50ms;
}

.card p {
    margin: 0;
    margin-bottom: 15px;
}

.card-title {
    font-size: 2em;
    margin: 0 0 10px 0;
    font-weight: 500;
}

.card-title p {
    margin: 0;
}

.card-controls {
    margin-top: auto;
    display: flex;
    align-items:center;
}

.card-delBtn {
    margin-left: auto;
    font-size: large;
    transition: filter 100ms;
}

.card-delBtn:hover {
    filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.664));
}

.shadow {
    -webkit-box-shadow: 5px 5px 18px -1px rgba(0,0,0,0.34); 
    box-shadow: 5px 5px 18px -1px rgba(0,0,0,0.34);
}

.card-readBtn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  background-color: rgba(0, 0, 0, 0);
  color: #ffffff;
  padding: 5px 10px;
  border: solid #ffffff 2px;
  transition: background-color 30ms;
}

.card-readBtn:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.card-notcompleted {
    background: rgb(25,118,210);
    background: linear-gradient(130deg, hsl(18, 79%, 46%) 0%, hsl(0, 48%, 48%) 100%);
}

.card-completed {
    background: rgb(25,118,210);
    background: linear-gradient(130deg, rgba(25,118,210,1) 0%, rgba(63,81,181,1) 100%);
}

@media screen and (max-width: 600px) {
    #library-list {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
    
    header h1 {
        font-size: 1.4em;
    }
}